/build/
/build-*/
/.cache/
/vendor/
/phy_dumps/
/iq_compare/
*.deb
*.buildinfo
*.changes
*.dsc
*.orig.tar.*
*.debian.tar.*
/debian/build-meshtasticd/
/debian/meshtasticd-quadrf
/debian/meshtasticd-quadrf-*

__pycache__/
*.py[cod]
